{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1><b>INSTAPICS</b></h1>
            <h4>Follow other people to see their posts !</h4>
        </div>

        <div class="col-md-4">
            <div class="container">
                <!-- post 1-->
                <div class="">
                        @<a href=""><b>Eugine</b></a>
                        <div>
                            <a href=""></a>  
                                
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0OqEewp7IZZDFMpEpXYm6hGZYg8Xt5oIXeQ&usqp=CAU" alt="">
                            </a>
                        </div>
                   
                    <div class="py-3 px-4 space-y-3"> 
                        <div class="flex space-x-4 lg:font-bold">
                            <a href="/like-post?post_id={{ post.id }}" class="flex items-center space-x-2">
                                <div class="p-2 rounded-full text-black">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                        <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                            <div class="">
                                <a href="#"><strong>{{ post.user }}</strong></a> {{ post.image_caption }}
                                Liked <strong>Bambii</strong> and <strong> 209 Others </strong>
                            </div>
                            <div>
                                <p>Y'all like Travelling ?</p>
                                <p>This is what i intend to do this year. I feel so happy !</p>
                            </div>
                        <div>
                            <input type="text" placeholder="post a comment">
                            <input type="submit" class="btn btn-primary btn-md" value="Post">
                        </div>
                    </div> 
                </div>
                <div>
                    @<a href=""><b>Hannah</b></a>
                    <div>
                        <a href=""></a>  
                            
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRnkX_x86-5_CTggZP5ws9JaVAYwfCRaNqAA&usqp=CAU" alt="">
                        </a>
                    </div>
               
                <div class="py-3 px-4 space-y-3"> 
                    <div class="flex space-x-4 lg:font-bold">
                        <a href="/like-post?post_id={{ post.id }}" class="flex items-center space-x-2">
                            <div class="p-2 rounded-full text-black">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                    <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                                </svg>
                            </div>
                        </a>
                    </div>
                        <div class="">
                            <a href="#"><strong>{{ post.user }}</strong></a> {{ post.image_caption }}
                            Liked <strong>Cindy</strong> and <strong> 27 Others </strong>
                        </div>
                        <div>
                            <p>I am just a babies person. I love babies because <br> they're cute and so innocent. I can't wait to own one</p>
                        </div>
                    <div>
                        <input type="text" placeholder="post a comment">
                        <input type="submit" class="btn btn-primary btn-md" value="Post">
                    </div>
                </div> 
            </div>
            <div>
                @<a href=""><b>Bambi</b></a>
                <div>
                    <a href=""></a>  
                        
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvLlXMvVWv7ETJVhTD1ewexaSwWBxrfB1szw&usqp=CAU" alt="">
                    </a>
                </div>
           
            <div class="py-3 px-4 space-y-3"> 
                <div class="flex space-x-4 lg:font-bold">
                    <a href="/like-post?post_id={{ post.id }}" class="flex items-center space-x-2">
                        <div class="p-2 rounded-full text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">
                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />
                            </svg>
                        </div>
                    </a>
                </div>
                    <div class="">
                        <a href="#"><strong>{{ post.user }}</strong></a> {{ post.image_caption }}
                        Liked <strong>Bambii</strong> and <strong> 209 Others </strong>
                    </div>
                    <div>
                        <p>Comment your favorite book.</p>
                    </div>
                <div>
                    <input type="text" placeholder="post a comment">
                    <input type="submit" class="btn btn-primary btn-md" value="Post">
                </div>
            </div> 
        </div>
            </div>
        </div>


        <div class="col-md-4">
            <div>
                <h2><a href=""> Account settings </a> </h2>
                <h3><a href="{% url 'signin' %}"> Log Out</a></h3>
            </div>
            <div>
                <div>
                    <div class="my_upload_div text-center">
                        <form action="upload" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h4>Upload Pics</h4>
                            <input class="image_upload" type="file" id="image_upload" name="image_upload">
                            <textarea class="my_textarea" name="caption" placeholder="Add Caption"></textarea> <br>
                            <input type="submit" class="image_upload_button btn btn-primary btn-sm" value="Upload">
                        </form>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>


{% endblock %}