{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}

{% block content %}
    <h1> Account Setting for <b>{{ user.username }}</b> </h1>
    
    <hr>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div>
                <div class="col-span-2">
                    <label for=""> Profile Photo</label>
                    <img src="{{ user_profile.profile_photo }}" alt="">
                    <input type="file" name="image">
                </div>
                <div class="col-span-2">
                    <textarea id="bio" name="bio" rows="3" placeholder="BIO">{{ user_profile.bio }}</textarea>
                </div> 
            </div> 
            <div>
                <input type="submit" class="btn btn-primary btn-sm" value="Save">
            </div>
        </div>
    </form>
{% endblock %}