{% extends 'all_templates/base.html' %}
{% load bootstrap3 %}
{% block content %}


<h2 class="text-center">Sign Up</h2>

    {% for message in messages %}
        <h5>{{ message }}</h5>
    {% endfor %}

<div class="my_signup_div">
  <form action="" method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input class="signup_input" type="text" id="username" name="username" placeholder="Username..">

    <label for="email">Email</label>
    <input class="signup_input" type="email" id="email" name="email" placeholder="Email..">

    <label for="password">Password</label>
    <input class="signup_input" type="password" id="password" name="password" placeholder="Password..">

    <label for="confirm_password">Confirm Password</label>
    <input class="signup_input" type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password..">
  
    <input type="submit" class="signup_button btn btn-primary btn-sm" value="Sign Up">

    <div class="text-center mt-5 space-x-2">
        <p class="text-base"> Already have an account? <b><a href="{% url 'signin' %}"> Login </a></b></p>
    </div>
  </form>
</div>





{% endblock %}