/* .all-my-images{
    height: 60vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content {
    max-width: 500px;
    margin: auto;
  }
.profilepic-image{
    border-radius: 50%;
    height: 40vh;
}
li{
    padding: 20px;
    list-style: none;
}
.my-user-name{
    margin-top: 20px;
}
.myposts{
    margin-top: 20px;
}
.comment-link{
    margin-top: 15px;
}
.add-comment{
    padding-right: 20px;
}
.cards-body{
    padding-bottom: 30px;
} */








.signin_input {
    width: 100%;
    background-color: lightblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.my_signin_div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: auto;
}
.signin_button{
    padding: 10px 30px;
    margin: 10px;
}
.signup_input {
    width: 100%;
    background-color: lightblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.my_signup_div{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    margin: auto;
}
.signup_button{
    padding: 10px 30px;
    margin: 10px;
}


.my_textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.profile_button{
    padding: 10px 30px;
    margin: 10px;
}
.profile_image{
    margin-top: 10px;
}
.profile_label{
    margin-bottom: 10px;
}