.all-my-images{
    height: 60vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content {
    max-width: 500px;
    margin: auto;
  }
.profilepic-image{
    border-radius: 50%;
    height: 40vh;
}
li{
    padding: 20px;
    list-style: none;
}
.my-user-name{
    margin-top: 20px;
}
.myposts{
    margin-top: 20px;
}
.comment-link{
    margin-top: 15px;
}
.add-comment{
    padding-right: 20px;
}
.cards-body{
    padding-bottom: 30px;
}